body {
    font-size: 20px;
    margin: 0;
}

h1, h4 {
    vertical-align: middle;
    margin-bottom: 0px;
    margin-top: 0px;
    letter-spacing: 4px;
}

ol > li {
    display: block;
    border: 1px solid black;
    margin-top: 5px;
    text-align: center;
    font-size: 26px;
    background-color:  #ffff00;
    margin-left: auto;
    margin-right: auto;
}

ol > li > a {
    text-decoration: none;
    display: block;
    color: black;
}

ol > li > a:hover {
    background-color: #ffff66;
}

ul, ol {
  padding-left: 0;
}

ul > li {
  display: block;
  border: 1px solid black;
  margin-top: 5px;
  text-align: center;
  font-size: 26px;
  background-color: green;
  margin-left: auto;
  margin-right: auto;
}

ul > li > a {
  text-decoration: none;
  display: block;
  color: black;
}

ul > li a:hover {
  background-color: lightgreen;
}

.header {
    height: 100px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: cornsilk;
    vertical-align: middle;
    background-image: url("../img/grey_wash_wall.png");
    border-bottom: 2px solid darkslategrey;
}

.common {
    min-height: 800px;
    float: left;
}

.side {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.left {

}

.middle {
    width: 50%;
    text-align: center;
}

.right {

}

.footer {
    height: 70px;
    float: none;
    text-align: center;
    background-color: dodgerblue;
    border-top: 2px solid cadetblue;
}

.content {
    background-image: url("../img/restaurant.png");
    overflow: hidden;
}

.input-desc {
    width: 150px;
    display: inline-block;
    text-align: left;
}

.inputs-width {
  width: 220px;
}

.radio-width {
  width: 224px;
}

.submit-margin {
  margin-left: 160px;
}

.gender-desc {
  width: 100px;
}

.inline-block {
  display: inline-block;
}

.form-style {
  width: 80%;
  background-color: pink;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  border: 2px dashed black;
}

.error {
  color: red;
  font-weight: bold; 
}

.success {
  color: green;
}

.left-align {
    text-align: left;
    margin-left: 50px;
}

.employee-table {
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.employee-table td {
    border: 1px solid black;
    margin: 0px;
    padding: 5px;
}
